h1.t{
    color: #f2f2f2;
    background-color:#223740 ;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.8;
}
h2.subtitle{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}
body{
    background-color: #f2f2f2c7;
}
ul.menu{
    list-style-type: none;
    background-color:#15BFBF;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    
}
li.menu a{
    float: left;
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
li.menu a:hover{
    background-color: #223740;
    color: #f2f2f2;
}

.resumen{
    width: 90%;
    margin: auto;
    height: 200px;
}
.carrusel{
    width: 90%;
    margin: auto;
}
.marcas{
    width: 90%;
    margin: auto;
    height: 200px;
}
.servicios{
    width: 90%;
    margin: auto;
}
.productos-destacados{
    width: 90%;
    margin: auto;
}
.principales-clientes{
    width: 90%;
    border: 1px solid;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px;
    gap: 4px;
}
.cliente{
    border: 1px solid#15BFBF;
    text-align: center;
}
footer.final{
    width: 100%;
    height: 300px;
    border: 1px solid;
    background-color: #223740;
    color: #f2f2f2;
    display:grid
}

.cuadro-1{
    display: grid;
    width: 90%;
    margin: auto;
    border: 1px solid ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 150px;
    gap: 10px;
}

.info-nosotros{
    border: 1px solid #15BFBF;
}
.imagen-nosotros{
    border: 1px solid greenyellow;
}

.codigo-etica{
    display: grid;
    width: 90%;
    margin: auto;
    border: 1px solid ;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px;
    gap: 10px;
    align-content: center;
}
div.valor{
    text-align: center;
    border: 1px solid salmon;
}

.sectores-enfocados{
    display: grid;
    width: 90%;
    margin: auto;
    border: 1px solid ;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px;
    gap: 10px;
    align-content: center;
}
.sector{
    text-align: center;
    border: 1px solid #15BFBF;
}