h1.t{
    color: #f2f2f2;
    background-color:#223740 ;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.8;
}
h2.subtitle{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}
body{
    background-color: #f2f2f2c7;
}
ul.menu{
    list-style-type: none;
    background-color:#11bfae;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
}
li.menu a{
    float: left;
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
li.menu a:hover{
    background-color: #223740;
    color: #f2f2f2;
}
div.busqueda{
    width: 40%;
    margin-top: 10px;
}
.boton-busqueda{
    background-color: #223740;
    color: #f2f2f2;
    width: 30%;
        
}
.cuadro-busqueda{
    width: 40%;
}
.carrusel{
    width: 90%;
    margin: auto;
}
.productos-destacados{
    width: 90%;
    margin: auto;
}
footer.final{
    width: 100%;
    height: 300px;
    border: 1px solid;
    background-color: #223740;
    color: #f2f2f2;
    display:grid
}